{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="thumbnail">
                    <div class="caption">
                        <p class="white-text card-panel #ff8f00 amber darken-3">
                            <b>Date of road trip</b>
                            <br>
                            {{ trip.date }}</p>
                        <p class="white-text card-panel #f57f17 yellow darken-4">
                            <b>Passengers</b>
                            <br> {{ trip.passengers.all.count }}</p>
                        <p class="white-text card-panel #ffc400 amber accent-3">
                            <b>Driver for road trip</b>
                            <br> {{ trip.driver }}</p>
                        <p class="white-text card-panel #ff9100 orange accent-3">
                            <b>Passengers</b>
                            <br> {% for onemember in trip.passengers.all %}
                            {{ onemember }}<br/>
                        {% endfor %}</p>
                        <a href="{% url 'join_passenger' trip_id=trip.id %}">
                            {% if request.user in trip.passengers.all %}
                                Unjoin {{ trip.passengers.all.count }}
                            {% else %}
                                Join {{ trip.passengers.all.count }}
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% for comment in comments %}
            <div class="col-md-9">
                <div class="thumbnail">
                    <h5>{{ comment.author }}, <img src="{{ comment.author.avatar.url }}" class="img-circle" width="50"
                                                   height="50"> {{ comment.author.avatar_url }}
                        {% if comment.author_id == request.user.id or request.user.is_admin %}
                            <a href="{% url "delete_comment" comment_id=comment.id%}">delete</a>
                            <a href="{% url "edit_comment" comment_id=comment.id %}">edit</a>
                        {% endif %}
                    </h5>
                    <hr>
                    <h6 class="pull-right">Date: {{ comment.date }}<br>
                        Rating: {{ comment.rating }}</h6>
                    <p> {{ comment.positive }}</p>
                    <p>{{ comment.negative }}</p>
                    <p>{{ comment.body }}</p>
                    {% if comment.edit_date != null %}
                        <p class="comentedit">Edited {{ comment.edit_amount }} times. Last edit: {{ comment.edit_date }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="col-md-9">
            <div class="thumbnail">
                {% if request.user.is_authenticated %}
                    <h4>{{ request.user }}, please, leave a review!</h4>
                    <hr>
                    <form action="{% url 'single_trip_page' trip_id=trip.id %}" method="post" class="form">
                        {% csrf_token %}
                        {{ commentform }}
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                    </form>
                    {% if commentform.errors %}
                        {% for field in commentform %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in commentform.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <h4>Please, <a href="{% url 'login' %}">Log in</a> or <a href="{% url 'register' %}">Register</a> to leave a review!</h4>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}