{% load static from staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

    <script type="application/javascript" src="{% static 'js/js.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>
<body>

<div class="navbar-fixed">
    <nav class="transparent">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo blue-text text-darken-2">Road Trip</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down ">
                <li><a class="blue-text text-darken-2" href="{% url 'all_articles' %}">Articles</a></li>
                <li><a class="blue-text text-darken-2" href="{% url 'add_article' %}">Add new article</a></li>
                <li><a class="blue-text text-darken-2" href="{% url 'all_trips' %}">All road trips</a></li>
                <li><a class="blue-text text-darken-2" href="{% url 'add_trip' %}">Add new road trip</a></li>
                <li><a class="blue-text text-darken-2" href="{% url 'all_users' %}">All users</a></li>
                {% if request.user.is_authenticated %}
                    <li class="blue-text text-darken-2">Hello, {{ request.user.email }}</li>
                    <li><a class="blue-text text-darken-2" href="{% url 'sign_out' %}">Sign out</a></li>
                {% else %}
                    <li><a class="blue-text text-darken-2" href="{% url 'sign_in' %}">Sign in</a></li>
                    <li><a class="blue-text text-darken-2" href="{% url 'sign_up' %}">Sign up</a></li>
                {% endif %}
            </ul>
        </div>

    </nav>

</div>

{% block content %}
{% endblock content %}
    <script type="application/javascript" src="{% static 'js/js2.js' %}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBZ9esNI9HL2WZUwDO24y9UjiyTOQM2g0&libraries=places&callback=initMap"
            async defer></script>
</body>
</html>